body{
  background-color: gray;
}

Div{
  background-color: blue;
  border-color: blue;
  border-width: thick;
  border-style: double;
}
p{
  color:yellow;
}
span{
  background: red;
  color:black;
}
