 /*selected tag {
  property: value;
}*/
/*THIS IS HOW WE WRITE COMMETS*/
/* Different ways to change the color*/
h1{
   color: blue;
}


li{
  color:rgb(3, 252, 186);
 }

 p{
   color:#0390fc;
 }
 /*a means how much transparent the color is. The value goes from zero to one. */
h4{
  color:rgba(3, 252,186,0.4)
}
/* all good */
